/* Global Initialisers */
* {
    margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

:root { background-color: #0F0F0F; }
/* End of Global Initialisers */

/* Structuring Rules */
.container       { width: 100%; max-width: 1024px; margin: 0px auto; }
.container-fluid { width: 100%;                    margin: 0px auto; }

.row    { display: inline-block;       width:      100%; }
.col    { display: block; width:      auto; float: left; }
.col-1  { display: block; width: 8.333333%; float: left; }
.col-2  { display: block; width: 16.66666%; float: left; }
.col-3  { display: block; width:       25%; float: left; }
.col-4  { display: block; width: 33.33333%; float: left; }

.col-5  { display: block; width: 41.66666%; float: left; }
.col-6  { display: block; width:       50%; float: left; }
.col-7  { display: block; width: 58.33333%; float: left; }
.col-8  { display: block; width: 66.66666%; float: left; }
.col-9  { display: block; width:       75%; float: left; }
.col-10 { display: block; width: 83.33333%; float: left; }
.col-11 { display: block; width: 91.66666%; float: left; }
.col-12 { display: block; width:      100%; float: left; }
/* End of Structuring Rules */

/* Navbar Rules */
.navbar {
    position: fixed;
    z-index: 1000;
    background-color: black;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 10px grey;
    width: 100%;
}
.navbar-offset {
    height: 60px;
}
.navbar-list li,.navbar-list a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 800;
    transition: ease-in-out 0.1s background-color;
    transition: ease-in-out 0.1s color;
}
.navbar-list a       { padding: 0px 10px; text-decoration: none; }
.navbar-list a:hover { background-color: white; color: black; }
/* End of Navbar Rules */

/* Jumbotron Rules */
.jumbotron {
    height: 512px;
    background-size: cover;
    text-align: center;
}
/* End of Jumbotron Rules */

.button {
    display: inline-block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    box-shadow: inset 0 0 1px #000000;
    transition: ease-in-out 0.5s box-shadow;
}
.button-primary {
    transition: ease-in-out 0.1s background-color;
    background-color: #4683c4;
}
.button-primary:hover {
    background-color: #336daa;
    box-shadow: inset 0 0 5px #000000;
}
.button-social {
    transition: ease-in-out 0.1s background-color;
    display: block !important;
    margin: 10px;
    width: 90%;
    padding: 20px;
    border: 3px solid white;
}

input   { color:black; font-size:0.8em }
textarea{ color:black; font-size:0.8em }
button { color: black;}
img {width:100%;}

.button-instagram:hover { background-color: #fb3958; color: white; }
.button-twitter:hover   { background-color: #00aced; color: white; }
.button-facebook:hover  { background-color: #4268b7; color: white; }
.button-reddit:hover    { background-color: #ff4500; color: white; }

.product-listing {
    position:relative;
    text-align: center;
    max-height: 500px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.product-listing-background {
    position: absolute;
    display:block;
    font-size: 1.5em;
    top: 50%;
    transition: background-color ease-in-out 0.1s, font-size ease-out 0.25s;
    font-size: 0em;
    width:100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-listing-background:hover {
    background-color: rgba(0,0,0,0.75);
    font-size: 1.5em;
}
.product-listing-text{
    position: relative;
    color: inherit;
    top:50%;
}

.basket-float {
    position: fixed;
    display: block;
    z-index: 1001;
    pointer-events: none;
}


/* Text Format Rules */
.text-regular   { font-weight: 600;           }
.text-bold      { font-weight: 800;           }
.text-underline { text-decoration: underline; }
.text-uppercase { text-transform: uppercase;  }
.text-lowercase { text-transform: lowercase;  }
.text-center    { text-align: center;         }
